.search-result-index-page {
  .search-result-item ion-label {
    white-space: normal;
  }

  ion-toolbar .toolbar-background {
    border-top: solid 1px #CCC;
  }
  .helper-text {
    padding-left: 10px;
  }
}
